
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cadastros</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
      <h2>Registos</h2>
        <ion-item *ngFor="let item of items" >

          <ion-thumbnail item-start (click)="mostrarUtilizador(item.id)">
            <img src="assets/imgs/avatar.png">
          </ion-thumbnail>
          <h2 (click)="mostrarUtilizador(item.id)" >{{ item.nome}}</h2>
          <p (click)="mostrarUtilizador(item.id)" >{{item.contacto1}}</p>
          <p *ngIf="item?.estado == 'PENDENTE'">
          <button ion-button small (click)="aprovar(item?.id)" >Aprovar</button>
          <button ion-button color="light" small (click)="rejeitar(item?.id)" >Rejeitar</button>
          </p>
        </ion-item> 
             
</ion-content>
